.example-spacer {
    flex: 1 1 auto;
  }
  .main-body {
    padding: 30px;
    padding-top: 20px;
    padding-left:50px;
    padding-right: 50px;
    max-width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  
  mat-toolbar{
    position: relative;
    z-index: 5;
  }

  mat-sidenav-container{
    height: calc(100vh - 64px);
  }