<div class="dialog-box">
    <div class="title">
        <h2>{{data ?
            'Update':'Post'}} Announcement</h2>
        <mat-icon matSuffix [mat-dialog-close]="false">close</mat-icon>
    </div>
    <hr>
    <form class="content" [formGroup]="announcementForm" (ngSubmit)="onAnnouncementSubmit()">
        <div class="admin-details">
            <div class="admin-image">
                <img src="../../../assets/cp-logo.png" alt="Admin Image">
            </div>
            <div class="admin-name">
                <h2>Admin Name</h2>
            </div>
        </div>
        <angular-editor formControlName="post" [placeholder]="'Enter text here...'" [config]="config"
            [(ngModel)]="htmlContent"></angular-editor>

        <div mat-dialog-actions class="action">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!announcementForm.get('post')?.value">{{data ?
                'Update':'Post'}}</button>
        </div>
    </form>
</div>