<div class="container">
    <div class="row">
        <div class="left-column">
            <img src="../../../assets/cp-logo.png" class="rounded-image" alt="Image">
        </div>
        <div class="right-column">
            <button mat-flat-button disabled class="postbutton">Post {{page}}</button>
        </div>
    </div>
    <!-- <hr />
    
    <div class="row2">
        <button mat-stroked-button color="primary" class="choice">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>Contest</span>
        </button>
        <button mat-stroked-button color="primary" class="choice">
            <mat-icon matListItemIcon>campaign</mat-icon>
            <span matListItemTitle>Announcement</span>
        </button>
    </div> -->


</div>