<div class="announcement-card">
    <div class="announcement-header">
        <div class="admin-details">
            <div class="admin-image">
                <!-- Replace 'admin-image.jpg' with the path to your admin image -->
                <img src="../../../assets/cp-logo.png" alt="Admin Image">
            </div>
            <div class="admin-name">
                Admin Name <!-- Replace with the admin's name -->
            </div>
        </div>
        <button mat-icon-button (click)="toggleDropdown()">
            <mat-icon>more_horizon</mat-icon>
            <div *ngIf="isDropdownOpen" class="dropdown">
                <button>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </div>
        </button>
    </div>
    <p class="post-content">{{announcement.post}}</p>
    <div class="actions">
        <button class="upvote-button">Upvote</button>
        <button class="downvote-button">Downvote</button>
    </div>
</div>