<!-- Add some basic styling for the container -->
<div class="contest-container">
    <div>
      <mat-list *ngFor="let contest of data | paginate: { itemsPerPage: 5, currentPage: p }" class="contest-row">
        <mat-card class="card-list">
          <mat-card-content>
            <b>Contest Name: </b>{{ contest.name }}
          </mat-card-content>
          <mat-card-content>
            <b>Contest Type: </b>{{ contest.type }}
          </mat-card-content>
          <mat-card-content>
            <b>Contest Phase: </b>{{ contest.phase }}
          </mat-card-content>
          <!-- <mat-card-content>
            <b>Is Frozen: </b>{{ contest.frozen ? 'Yes' : 'No' }}
          </mat-card-content> -->
          <mat-card-content>
            <b>Duration: </b>{{ convertToHoursMinutes(contest.durationSeconds) }}
          </mat-card-content>
          <mat-card-content>
            <b>Start Time: </b>{{ convertToDate(contest.startTimeSeconds) }}
          </mat-card-content>
          <!-- <mat-card-content>
            <b>Relative Time: </b>{{ convertToDate(contest.relativeTimeSeconds) }}
          </mat-card-content> -->
        </mat-card>
      </mat-list>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  