<!-- Iterate over contests using ngFor -->
<mat-grid-list cols="3" rowHeight="400px">

  <mat-grid-tile *ngFor="let contest of contests | 
  paginate: { itemsPerPage: 12, currentPage: p }; 
  let index = index;" class="grid-list">

    <mat-card class="example-card">
      <mat-card-header>
        <div class="header">
          
          <mat-card-title> {{contest.name}}</mat-card-title>
          <mat-card-subtitle>{{contest.date}}</mat-card-subtitle>
          <mat-card-subtitle>{{contest.time}}</mat-card-subtitle>
          <img [src]="imageUrl" alt="Image description" class="rounded-image" alt="Skyscrapers"/>
        </div>
          </mat-card-header>
          
      <br>

        <mat-card-content class="horizontal-list-row">
          <div class="contest-description">

            <div> <b>Name:</b> {{ contest.name }} </div>
            <div> <b>Link:</b> {{ contest.link }} </div>
            <div> <b>Password:</b> {{ contest.password }} </div>
            <!-- <div> <b>description:</b> {{ contest.description }} </div> -->
            <div> <b>type:</b> {{ contest.type }} </div>
            <div> <b>duration:</b> {{ contest.duration }} </div>
          </div>
        </mat-card-content>

    </mat-card>
  </mat-grid-tile>
  <br>
  
</mat-grid-list>

<!-- Pagination controls -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>
