
  
  .card {
    flex: 1 0 45%; /* Allow cards to grow, don't shrink, set initial width */
    max-width: 350px; 
    max-height: 500px;/* Set minimum width for cards */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded borders */
    padding: 20px; /* Padding for card content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: all 0.3s ease; /* Smooth transition effect */
    
    &:hover {
      transform: translateY(-2.5px); /* Move card up on hover */
    }
    
    &-header {
      background-color: #007bff; /* Blue header background */
      color: #fff; /* White text */
      padding: 1rem; /* Padding for the header */
      font-size: 1.5rem; /* Larger font size */
      font-weight: bold; /* Bold text */
      border-top-left-radius: 10px; /* Top left corner rounded */
      border-top-right-radius: 10px; /* Top right corner rounded */
    }
    
    &-footer {
      background-color: #f8f9fa; /* Light gray footer background */
      padding: 0.5rem; /* Padding for the footer */
      font-size: 0.875rem; /* Smaller font size */
      color: #6c757d; /* Gray text color */
      border-bottom-left-radius: 10px; /* Bottom left corner rounded */
      border-bottom-right-radius: 10px; /* Bottom right corner rounded */
    }
  }
  