<div class="card">
    <div class="card-header">
        <div>
            <mat-icon>person</mat-icon>
            {{ request.name }}
        </div>
        <hr />
    </div>
    <div class="card-body">
        <table>
            <tr class="card-text even">
                <td><b>Email:</b></td>
                <td>{{ request.email }}</td>
            </tr>
            <tr class="card-text odd">
                <td><b>Gender:</b> </td>
                <td>{{ request.gender }}</td>
            </tr>
            <tr class="card-text even">
                <td><b>Student ID:</b></td>
                <td>{{ request.universityId }}</td>
            </tr>
            <tr class="card-text odd">
                <td><b>Codeforces Handle:</b> </td>
                <td class="handle-button" (click)="navigateToExternalProfile(request.CodeforcesID, 'codeforces')">
                    <button>{{request.CodeforcesID }}</button>
                </td>
            </tr>
            <tr class="card-text even">
                <td><b>Codechef Handle:</b> </td>
                <td class="handle-button" (click)="navigateToExternalProfile(request.CodechefID , 'codechef')">
                    <button>{{
                        request.CodechefID }}</button>
                </td>
            </tr>
            <tr class="card-text odd">
                <td><b>Atcoder Handle:</b></td>
                <td class="handle-button" (click)="navigateToExternalProfile( request.AtcoderID, 'atcoder')">
                    <button>{{ request.AtcoderID }}</button>
                </td>
            </tr>
        </table>
        <div class="button-row">
            <button mat-flat-button class="accept" (click)="accept(request._id)">Accept</button>
            <button mat-flat-button color="warn" (click)="reject(request._id)">Reject</button>
        </div>
    </div>
</div>