.announcement-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    background:white;
    >p{
      margin-left: 50px;
      margin-right: 20px;
      font-size: medium;
      font-weight: 400;
    }
  }

  .announcement-header{
    display: flex;
    justify-content: space-between;
  }
  
  .admin-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .admin-name{
    h4{
      margin:0;
      font-weight: 500;
    }
    h5{
      font-size: 13px;
      color: gray;
      margin:0;
    }
  }
  .admin-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-content {
    margin-bottom: 10px;
  }
  .actions{
    display: flex;
    justify-content: end;
  }
  .actions button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .upvote-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .downvote-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
    width: 100px;
  }
  
  .dropdown button {
    display: flex;
    justify-content:flex-start;
    align-items: end;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;

    cursor: pointer;
    >span{
      margin-left: 5px !important;
    }
  }
  
  .dropdown button:hover {
    background-color: #f0f0f0;
  }

